@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ensure tooltips are always on top */
  .tooltip-container {
    position: relative;
    z-index: 1;
  }
  
  .tooltip-container:hover {
    z-index: 9999;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


